#mapdiv {
	height: 100vh;	
}

.info.legend {
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}
.info.legend h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
